header {
    font-family: 'Cinzel' !important;
}

h1,h2 {
    font-family: 'Cinzel' !important;
}

nav {
    background-color: #a41519;
}
.nav-item {
    margin-right: 50px;
}

.jumbotron {
    padding: 6rem 2rem 1rem !important;
}

p {
    font-family: 'Open Sans';
}

.row img {
    width: 100%;
}

/*
headr bg #a41519
*/